<svg width="20px" height="21px" viewBox="0 0 20 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>3101DE7E-F24E-4DDE-883E-912DC779C62A</title>
    <defs>
        <polygon id="path-1" points="0 0.338241758 19.6490769 0.338241758 19.6490769 19.170989 0 19.170989"></polygon>
    </defs>
    <g id="web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="home-new1" transform="translate(-1318.000000, -8207.000000)">
            <g id="footer" transform="translate(216.000000, 8015.000000)">
                <g id="icon-fb" transform="translate(1102.000000, 192.857143)">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-9"></g>
                    <path d="M19.6490769,9.81197802 C19.6490769,4.57912088 15.2511282,0.338241758 9.82446154,0.338241758 C4.39779487,0.338241758 -0.000153846154,4.57912088 -0.000153846154,9.81197802 C-0.000153846154,14.5414286 3.59215385,18.4603846 8.28958974,19.170989 L8.28958974,12.5505495 L5.79471795,12.5505495 L5.79471795,9.81197802 L8.28958974,9.81197802 L8.28958974,7.72467033 C8.28958974,5.35104396 9.75574359,4.03912088 12.000359,4.03912088 C13.0752308,4.03912088 14.1998462,4.22406593 14.1998462,4.22406593 L14.1998462,6.55565934 L12.960359,6.55565934 C11.7398462,6.55565934 11.3593333,7.28653846 11.3593333,8.03571429 L11.3593333,9.81197802 L14.0844615,9.81197802 L13.6490769,12.5505495 L11.3593333,12.5505495 L11.3593333,19.170989 C16.0572821,18.4603846 19.6490769,14.5414286 19.6490769,9.81197802" id="Fill-8" fill="#1F3337" mask="url(#mask-2)"></path>
                </g>
            </g>
        </g>
    </g>
</svg>