<svg width="20px" height="21px" viewBox="0 0 20 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>8756C982-1FF0-4184-87D2-6B4AEA245BBB</title>
    <defs>
        <polygon id="path-1" points="0.0727356153 0.284547188 19.5313725 0.284547188 19.5313725 19.0150272 0.0727356153 19.0150272"></polygon>
    </defs>
    <g id="web" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="home-new1" transform="translate(-1365.000000, -8207.000000)">
            <g id="footer" transform="translate(216.000000, 8015.000000)">
                <g id="icon-in" transform="translate(1149.000000, 192.857143)">
                    <g id="Group-3">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Clip-2"></g>
                        <path d="M17.8013333,9.65030672 C17.7868235,9.64992857 17.7723137,9.64992857 17.7578039,9.64955042 C17.7578039,8.87547479 17.7746667,8.10139916 17.7527059,7.32807983 C17.7323137,6.58841597 17.7025098,5.84686134 17.6213333,5.11211345 C17.4413333,3.4792563 16.3578039,2.36484454 14.6723137,2.12623109 C13.8483922,2.00938235 13.0068235,1.98139916 12.1727059,1.96892017 C10.5766275,1.94547479 8.97976471,1.9492563 7.38329412,1.96816387 C6.61662745,1.97686134 5.848,2.01618908 5.0852549,2.09295378 C3.39270588,2.26387815 2.23113725,3.31022269 1.98329412,4.93097899 C1.86290196,5.71677731 1.83231373,6.51997059 1.82015686,7.31635714 C1.79584314,8.8637521 1.79976471,10.4119034 1.81937255,11.9592983 C1.82878431,12.7069034 1.86682353,13.4567773 1.95035294,14.1998445 C2.13270588,15.820979 3.21388235,16.9316092 4.88486275,17.1706008 C5.70839216,17.2882059 6.54996078,17.3173235 7.38407843,17.3298025 C8.98839216,17.3532479 10.5942745,17.3494664 12.1985882,17.3313151 C12.9652549,17.3222395 13.7342745,17.2806429 14.4966275,17.2042563 C15.302902,17.1229538 16.0307451,16.8374496 16.622902,16.2740042 C17.3483922,15.5835 17.622902,14.7118613 17.6699608,13.7706429 C17.7381961,12.3983319 17.7597647,11.0237521 17.8013333,9.65030672 M19.5315294,9.66392017 C19.5091765,10.9152227 19.495451,12.1669034 19.4621176,13.4178277 C19.4374118,14.3378697 19.2915294,15.2405168 18.8793725,16.0796345 C18.1487843,17.5672815 16.9138824,18.443458 15.262902,18.8008109 C14.3648627,18.9951807 13.4495686,19.0133319 12.5378039,19.0144664 C10.3091765,19.0178697 8.08015686,19.0057689 5.85152941,18.978542 C4.91584314,18.9675756 3.99545098,18.8163151 3.13976471,18.4294664 C1.58486275,17.7276176 0.667607843,16.5337941 0.295058824,14.9315672 C0.0938823529,14.0656008 0.0742745098,13.1833739 0.0730980392,12.303416 C0.0703529412,10.171021 0.0832941176,8.0382479 0.108784314,5.90547479 C0.120156863,4.9774916 0.274666667,4.06614706 0.690745098,3.21908824 C1.42094118,1.73181933 2.65584314,0.855642857 4.30682353,0.498289916 C5.19662745,0.305810924 6.10329412,0.286147059 7.00682353,0.285012605 C9.23545098,0.281987395 11.4644706,0.293710084 13.6927059,0.320180672 C14.6550588,0.33152521 15.5993725,0.484298319 16.4762353,0.891189076 C18.1013333,1.64522269 19.0311373,2.91807983 19.3111373,4.61144118 C19.4432941,5.41198739 19.4676078,6.23219748 19.495451,7.04484454 C19.5252549,7.9172395 19.5021176,8.79076891 19.5021176,9.66354202 C19.5119216,9.66392017 19.5217255,9.66392017 19.5315294,9.66392017" id="Fill-1" fill="#000000" mask="url(#mask-2)"></path>
                    </g>
                    <path d="M9.79141176,12.7769325 C11.5765098,12.7685798 13.0337647,11.3576975 13.0279001,9.64278151 C13.0223922,7.92484034 11.5533725,6.51433613 9.77807843,6.52224394 C7.99337255,6.53021849 6.53729412,7.93996639 6.54198863,9.65639496 C6.54670588,11.3732017 8.01690196,12.7848403 9.79141176,12.7769325 M9.79062745,4.83874745 C12.5718039,4.8395042 14.7772941,6.97341176 14.7745516,9.66093277 C14.7714118,12.3397563 12.5553333,14.4642101 9.76631373,14.461943 C6.99219608,14.458916 4.79415686,12.3204706 4.79572465,9.62576471 C4.79768627,6.96357983 7.01572549,4.83761345 9.79062745,4.83874745" id="Fill-4" fill="#000000"></path>
                    <path d="M14.9719608,3.5171711 C15.6245098,3.51415966 16.1437255,4.00991597 16.1445118,4.6357563 C16.1456863,5.26197479 15.6233333,5.7739916 14.9837255,5.77436996 C14.3421569,5.7747479 13.8064706,5.26386555 13.8033194,4.64861345 C13.8001961,4.02882353 14.3260784,3.51983193 14.9719608,3.5171711" id="Fill-6" fill="#1F3337"></path>
                </g>
            </g>
        </g>
    </g>
</svg>