{% if section.settings.calendar_embed_code != blank %}
	<section id="events-calendar" class="events-calendar">
		<div class="container">

			{% if section.settings.title != blank %}
				<h2 class="events-calendar__title text-center">{{ section.settings.title }}</h2>
			{% endif %}

			{% if section.settings.calendar_embed_code != blank %}
				{{ section.settings.calendar_embed_code }}
			{% endif %}
		</div>
	</section>
{% endif %}

{% schema %}
 {
        "name": "Events Calendar",
        "settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Section heading",
				"default": "needed community events."
			},
            {
                "type": "textarea",
                "id": "calendar_embed_code",
                "label": "Calendar Embed code",
                "info": "Paste here Embed code from  Your  eventcalendarapp.com/editor"
            }           
        ]
    }
{% endschema %}
