<section class="instagram">
    <div class="container">
      <h2 class="instagram__title">
			{%- if section.settings.link_title != blank -%}
      <a href="{% if section.settings.instagram_url != blank %}{{ section.settings.instagram_url }}{% else %}javascript:;{% endif %}" target="_blank">{{ section.settings.link_title }}</a>
			{%- endif -%}
		</h2>
    <div id="insta-feed"></div>
	<div id="insta-feed-buttons">
		<div class="buttons-container">
			<a href="javascript:;" class="btn-prev-feed btn-feed-arrow"></a>
			<a href="javascript:;" class="btn-next-feed btn-feed-arrow"></a>
		</div>
	</div>
    </div>
</section>

<style>
	@media (max-width: 768px){
		.instagram #insta-feed > a:not(.instafeed-lightbox){
			display: none;
		}

		.instagram #insta-feed > a:not(.instafeed-lightbox):nth-child(1),
		.instagram #insta-feed > a:not(.instafeed-lightbox):nth-child(3){
			display: inline;
		}

		.instagram #insta-feed > a:not(.instafeed-lightbox) .instafeed-container{
			width: 50% !important;
			padding-top: 50% !important;
		}

		section.instagram > .container{
			position: relative;
		}

		#insta-feed-buttons{
			position: absolute;
			top: calc( 50% + 25px );
			width: calc(100% - 25px);
			left: 50%;
			transform: translateX(-50%);
		}

		#insta-feed-buttons .buttons-container{
			position: relative;
			display: flex;
			justify-content: space-between;
		}

		#insta-feed-buttons .buttons-container .btn-feed-arrow{
			border: 2px solid;
			border-radius: 2px;
			width: 12px;
			height: 12px;
			transform: rotate(45deg);
		}

		#insta-feed-buttons .buttons-container .btn-prev-feed{
			border-color: transparent transparent #878742 #878742;
		}

		#insta-feed-buttons .buttons-container .btn-next-feed{
			border-color: #878742 #878742 transparent transparent;
		}
	}
</style>

<script>
	var slideIndex = 1;
	showDivs(slideIndex);

	function plusDivs(n) {
		var x = $(".instagram #insta-feed > a:not(.instafeed-lightbox)");
		var tmpIdx = slideIndex + n;
		if(x.length <= tmpIdx || tmpIdx == 0)
			return;
		showDivs(slideIndex += n);
	}

	function showDivs(n) {
		var i;
		var x = $(".instagram #insta-feed > a:not(.instafeed-lightbox)");
		if (n > x.length) {slideIndex = 1}
		if (n < 1) {slideIndex = x.length} ;
		for (i = 0; i < x.length; i++) {
			x.eq(i).hide();
		}
		x.eq(slideIndex-1).css("display", "inline");
		x.eq(slideIndex).css("display", "inline");
	}

	$("#insta-feed-buttons .btn-prev-feed").on("click", function(){
		plusDivs(-1);
	});

	$("#insta-feed-buttons .btn-next-feed").on("click", function(){
		plusDivs(+1);
	});

</script>


{% schema %}
{
	"name": "Instagram",
	"settings":[
	{
		"type": "textarea",
		"id": "link_title",
		"label": "Instagram heading"
	},
	{
		"type": "textarea",
		"id": "instagram_url",
		"label": "Instagram url"
	}
  ],
	"presets": [
		{
			"name": "Instagram",
			"category": "Information"
		}
	]
}
{% endschema %}