{{ 'prenatal-multi-stacks.scss.css' | asset_url | stylesheet_tag }}

<div data-section-id="{{ section.id }}" class="prenatal-multi-stacks">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <h1 class="page-title">
                    <span>Your prenatal isn't cutting it.</span>
                    <span class="color-2">See how our Prenatal Multi stacks up.</span>
                </h1>
                <span class="sub-title">
                    Most prenatals dose way too low for optimal nourishment, or include forms that are taxing on the body.
                </span>
            </div>
        </div>
        <div class="page-content">
            <div class="content-header">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <ul class="dose-color">
                            <li>Dosed appropriately</li>
                            <li>Dosed too low</li>
                            <li>Dosed too high</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-12">
                        <ul class="right-header">
                            <li>
                                <a href="javascript:;">Download PDF</a>
                            </li>
                            <li>
                                <span>3 of 6 products</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-inner">
                <div class="standard-table">
                    <div>
                        <table class="standard">
                            <colgroup>
                                <col style="width:34%">
                                <col style="width:33%">
                                <col style="width:33%">
                            </colgroup>
                            <thead>
                                <tr class="no-border">
                                    <th>needed: Optimal Nutrient Form</th>
                                    <th>Standard Nutrient Form</th>
                                    <th>
                                        needed: Prenatal Multi
                                    </th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>
                                        <span>
                                            Comprehensive vitamins, minerals, and botanicals selected and dosed to fully nourish
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="type-1">Vitamin A</a>
                                        as retinyl palmitate and betacarotene
                                    </td>
                                    <td class="opacity-1">Just betacarotene</td>
                                    <td class="background-1">750mcg + 750mcg betacarotene for 1,500mcg total</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="type-1">Vitamin C</a>
                                        as asorbic acid
                                    </td>
                                    <td class="opacity-1"></td>
                                    <td class="background-1">500mg</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="type-1">Vitamin D3</a>
                                        (cholecalciferol)
                                    </td>
                                    <td class="opacity-1">Vitamin D2 (ergocalciferol)</td>
                                    <td class="background-1">4,000 IU</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="type-1">Vitamin E</a>
                                        from mixed tocopherols
                                    </td>
                                    <td class="opacity-1"></td>
                                    <td class="background-1">30mg</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="type-1">Vitamin K2</a>
                                        (mcg)
                                    </td>
                                    <td class="opacity-1">K1(phytonadione)</td>
                                    <td class="background-1">90mcg</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="type-1">Vitamin B6</a>
                                        as pyridoxal-5-phosphate
                                    </td>
                                    <td class="opacity-1">Pyrodoxine</td>
                                    <td class="background-1">40mg</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="type-1">Methylfolate 5-MTHF</a>
                                    </td>
                                    <td class="opacity-1">Folate or folic acid</td>
                                    <td class="background-1">750mcg + 750mcg betacarotene for 1,500mcg total</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="type-1">Vitamin B12</a>
                                        as methylcobalamin and adenosylcobalamin
                                    </td>
                                    <td class="opacity-1">Cyanocobalamin</td>
                                    <td class="background-1">500mcg</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="type-1">Biotine</a>
                                    </td>
                                    <td class="opacity-1"></td>
                                    <td class="background-1">350mcg</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;">Choline</a>
                                        as choline bitrate
                                    </td>
                                    <td class="opacity-1">Choline citrate</td>
                                    <td class="background-1">550mcg (500mcg Prenatal + 55mcg Omega-3)</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;">Calcium</a>
                                        as di-ca
                                    </td>
                                    <td class="opacity-1">Many other forms</td>
                                    <td class="background-1">400mcg</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;">Iron</a>
                                        as ferrous bisglycinate chelate
                                    </td>
                                    <td class="opacity-1">Many other forms</td>
                                    <td class="background-1">18mg</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;">Iodine</a>
                                    </td>
                                    <td class="opacity-1"></td>
                                    <td class="background-1">250mcg</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;">Magnesium</a>
                                        as magnesium glycinate
                                    </td>
                                    <td class="opacity-1">Many other forms</td>
                                    <td class="background-1">400mg</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;">Boron</a>
                                    </td>
                                    <td class="opacity-1"></td>
                                    <td class="background-1">None</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;">Omega-3</a>
                                        DHA + EPA
                                    </td>
                                    <td class="opacity-1">ALA</td>
                                    <td class="background-1">300mg + 150mg</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="javascript:;">Organic fruits, vegetables & herbs</a>
                                    </td>
                                    <td class="opacity-1"></td>
                                    <td class="background-1">200mg</td>
                                </tr>
                                <tr>
                                    <td>
                                        Other nutrients
                                    </td>
                                    <td class="opacity-1"></td>
                                    <td class="background-1">10+ more</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="product-table carousel">
                    <div id="carousel-1">
                        <table class="product-info-table">
                            <colgroup>
                                <col style="width:16%">
                                <col style="width:17%">
                                <col style="width:16%">
                                <col style="width:16%">
                                <col style="width:17%">
                                <col style="width:16%">
                            </colgroup>
                            <thead>
                                <tr class="no-border">
                                    <th>
                                        Leading DTC brand
                                    </th>
                                    <th>
                                        Leading Natural Channel Whole Food Supplement
                                    </th>
                                    <th>
                                        Leading Direct to Consumer / Instagram Brand
                                    </th>
                                    <th>
                                        Leading DTC brand
                                    </th>
                                    <th>
                                        Leading Natural Channel Whole Food Supplement
                                    </th>
                                    <th>
                                        Leading Direct to Consumer / Instagram Brand
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <span>
                                            12 nutrients is not enough! For those included, good forms, but majority dosed too low or too high
                                        </span>
                                    </th>
                                    <th>
                                        <span>
                                            Many missing nutrients, non-ready-to-use forms, and dosed too low
                                        </span>
                                    </th>
                                    <th>
                                        <span>
                                            12 nutrients is not enough! For those included, good forms, but majority dosed too low or too high
                                        </span>
                                    </th>
                                    <th>
                                        <span>
                                            12 nutrients is not enough! For those included, good forms, but majority dosed too low or too high
                                        </span>
                                    </th>
                                    <th>
                                        <span>
                                            Many missing nutrients, non-ready-to-use forms, and dosed too low
                                        </span>
                                    </th>
                                    <th>
                                        <span>
                                            12 nutrients is not enough! For those included, good forms, but majority dosed too low or too high
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None, just beta-carotene</td>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None, just beta-carotene</td>
                                    <td class="opacity-2">None</td>
                                </tr>
                                <tr>
                                    <td class="opacity-2">None</td>
                                    <td class="background-2">75mg</td>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None</td>
                                    <td class="background-2">75mg</td>
                                    <td class="opacity-2">None</td>
                                </tr>
                                <tr>
                                    <td class="background-3">2,000 IU</td>
                                    <td class="background-2">1,000 IU</td>
                                    <td class="background-3">2,000 IU</td>
                                    <td class="background-3">2,000 IU</td>
                                    <td class="background-2">1,000 IU</td>
                                    <td class="background-3">2,000 IU</td>
                                </tr>
                                <tr>
                                    <td class="background-2">6.7mg</td>
                                    <td class="background-2">20mg</td>
                                    <td class="background-2">6.7mg</td>
                                    <td class="background-2">6.7mg</td>
                                    <td class="background-2">20mg</td>
                                    <td class="background-2">6.7mg</td>
                                </tr>
                                <tr>
                                    <td class="background-3">90mcg</td>
                                    <td class="opacity-2">None, just K1</td>
                                    <td class="background-3">90mcg</td>
                                    <td class="background-3">90mcg</td>
                                    <td class="opacity-2">None, just K1</td>
                                    <td class="background-3">90mcg</td>
                                </tr>
                                <tr>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None, just pyrodoxine</td>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None, just pyrodoxine</td>
                                    <td class="opacity-2">None</td>
                                </tr>
                                <tr>
                                    <td class="background-4">1,700mcg</td>
                                    <td class="opacity-2">None, just folic acid</td>
                                    <td class="background-4">1,700mcg</td>
                                    <td class="background-4">1,700mcg</td>
                                    <td class="opacity-2">None, just folic acid</td>
                                    <td class="background-4">1,700mcg</td>
                                </tr>
                                <tr>
                                    <td class="background-2">8mcg + no adeno</td>
                                    <td class="opacity-2">None, just cyanocobalamin</td>
                                    <td class="background-2">8mcg + no adeno</td>
                                    <td class="background-2">8mcg + no adeno</td>
                                    <td class="opacity-2">None, just cyanocobalamin</td>
                                    <td class="background-2">8mcg + no adeno</td>
                                </tr>
                                <tr>
                                    <td class="background-3">300mcg</td>
                                    <td class="background-2">35mcg</td>
                                    <td class="background-2">210mcg</td>
                                    <td class="background-3">300mcg</td>
                                    <td class="background-2">35mcg</td>
                                    <td class="background-2">210mcg</td>
                                </tr>
                                <tr>
                                    <td class="background-2">55mcg</td>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None</td>
                                    <td class="background-2">55mcg</td>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None</td>
                                </tr>
                                <tr>
                                    <td class="opacity-2">None</td>
                                    <td class="background-2">75mcg other form</td>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None</td>
                                    <td class="background-2">75mcg other form</td>
                                    <td class="opacity-2">None</td>
                                </tr>
                                <tr>
                                    <td class="background-3">18mg other form</td>
                                    <td class="background-4">27mg other form</td>
                                    <td class="opacity-2">None</td>
                                    <td class="background-3">18mg other form</td>
                                    <td class="background-4">27mg other form</td>
                                    <td class="opacity-2">None</td>
                                </tr><tr>
                                    <td class="background-2">150mcg</td>
                                    <td class="background-2">150mcg</td>
                                    <td class="background-3">290mcg</td>
                                    <td class="background-2">150mcg</td>
                                    <td class="background-2">150mcg</td>
                                    <td class="background-3">290mcg</td>
                                </tr>
                                <tr>
                                    <td class="background-2">30mg other form</td>
                                    <td class="background-2">75mg other form</td>
                                    <td class="opacity-2">None</td>
                                    <td class="background-2">30mg other form</td>
                                    <td class="background-2">75mg other form</td>
                                    <td class="opacity-2">None</td>
                                </tr>
                                <tr>
                                    <td class="background-4">1mg</td>
                                    <td class="background-4">0.5mg</td>
                                    <td class="opacity-2">None</td>
                                    <td class="background-4">1mg</td>
                                    <td class="background-4">0.5mg</td>
                                    <td class="opacity-2">None</td>
                                </tr>
                                <tr>
                                    <td class="background-2">350mg + no EPA</td>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None</td>
                                    <td class="background-2">350mg + no EPA</td>
                                    <td class="opacity-2">None</td>
                                    <td class="opacity-2">None</td>
                                </tr>
                                <tr>
                                    <td class="opacity-2">None</td>
                                    <td class="background-3">280mg</td>
                                    <td class="background-3">1,400mg</td>
                                    <td class="opacity-2">None</td>
                                    <td class="background-3">280mg</td>
                                    <td class="background-3">1,400mg</td>
                                </tr>
                                <tr>
                                    <td class="opacity-2">None</td>
                                    <td class="background-2">7 more</td>
                                    <td class="background-2">3 more</td>
                                    <td class="opacity-2">None</td>
                                    <td class="background-2">7 more</td>
                                    <td class="background-2">3 more</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="table-prev"></button>
                    <button class="table-next"></button>
                </div>
            </div>
            <div class="content-footer">
                <button class="back-to-multi button button--primary">
                    <span>Back to Prenatal Multi</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var currentColumn = 1;
        $(".standard-table table tr").each(function(i, el) {
            var height1 = $(this).height();
            var height2 = $('#carousel-1 table tr').eq(i).height();

            if(height1 > height2) {
                $('#carousel-1 table tr').eq(i).height(height1);
            } else {
                $(this).height(height2);
            }
        });

        $(".table-prev").on('click', function() {
            console.log(currentColumn);
            if(currentColumn == 1) {
                return;
            }
            currentColumn--;
            var left = $(".product-info-table thead tr.no-border th:nth-child(" + currentColumn + ")").position().left;
            $("#carousel-1").animate({scrollLeft: left}, 300);
        });

        $(".table-next").on('click', function() {
            console.log(currentColumn);
            if(currentColumn == 6 || $("#carousel-1").scrollLeft() + $($("#carousel-1")).width() > $("#carousel-1 .product-info-table").width() - 10) {
                return;
            }

            currentColumn++;
            var left = $(".product-info-table thead tr.no-border th:nth-child(" + currentColumn + ")").position().left;
            $("#carousel-1").animate({scrollLeft: left}, 300);
        });
    });
</script>