{% if section.settings.show_section %}
	<section class="tailored-products">
		<div class="container">
			{% if section.settings.title != blank %}
				<h2 class="tailored-products__title">{{ section.settings.title }}</h2>
			{% endif %}

			{% if section.blocks.size > 0 %}
				<div id="tailored-products" class="row tailored-products__row">
					{% for block in section.blocks %}
						<div class="col-md-4">
							<div class="tailored-products__item"
								{% if block.settings.image != blank %}style="background-image: url({{ block.settings.image | img_url: '800x' }});" {% endif %}
							>
								{% if block.settings.description != blank %}
									<div class="tailored-products__item-hover">
										<div class="tailored-products__item-description">{{ block.settings.description }}</div>
									</div>
								{% endif %}
							</div>
							<p class="tailored-products__item-title">{{ block.settings.title }}</p>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</section>
{% endif %}



{% schema %}
    {
        "name": "Our products",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Needs and preferences change over time. Our products are tailored to your:"
            },
			{
				"type": "checkbox",
				"id": "show_section",
				"label": "Show section",
				"default": true
			}
            ],
            "blocks": [
                {
                "type": "product",
                "name": "Product",
                "settings": [
	                {
	                	"type": "image_picker",
	                	"id": "image",
	                	"label": "Image"
	                },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Heading"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    }
                ]
            }
        ]
    }
{% endschema %}
